<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Use the Console sink -->
        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console"/>
        <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp} [{Level}] {Message} {Exception} {Properties} {NewLine}" />
        <!-- Use the TCP Network sink -->
        <add key="serilog:using:TCPSink" value="Serilog.Sinks.Network" />
        <!-- Your logstash configuration -->
        <add key="serilog:write-to:TCPSink.uri" value="tcp://localhost:5001" />
        <add key="serilog:minimum-level" value="Verbose" />
    </appSettings>
</configuration>
